PUBLIC_SITE_TITLE=Ivochote Digital
PUBLIC_SITE_URL=https://municipalidad-de-ivochote.netlify.app
PUBLIC_GOOGLE_SITE_VERIFICATION=
PUBLIC_ANALYTICS_ID=
PUBLIC_FIREBASE_API_KEY=
PUBLIC_FIREBASE_AUTH_DOMAIN=
PUBLIC_FIREBASE_PROJECT_ID=
PUBLIC_FIREBASE_STORAGE_BUCKET=
PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
PUBLIC_FIREBASE_APP_ID=
PUBLIC_FIREBASE_MEASUREMENT_ID=
RENIEC_API_URL=https://api.apis.net.pe/v2/reniec/dni
RENIEC_API_TOKEN=
RENIEC_API_DNI_PARAM=numero
RENIEC_API_AUTH_HEADER=Authorization
RENIEC_API_TOKEN_PREFIX=Bearer
